@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap'); 
/* regular 500 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* regular 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}
header{ 
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;          
}
#botao-adm{
    text-decoration: underline #000000;
}

li{
    display: inline-block;
    list-style: none;
    height: 5vh;
    width: 7vw;
    margin: 5px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.paginas a{
    color: black;
}

main{
    display: flex;  
}

.lateral{
    background-color: #000000;
    color: white;
    width: 22vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 5%;
    padding-left: 5%;
}

.lateral a{
    color: white;
}

.section1{
    display: grid;
    background-color: #F6C34A;
    width: 100%;
}

.busca{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5%;
    margin: end;   
}

button{
    background-color: black;
    color: white;
}
#container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 10%;
    gap: 1rem;
}

.card{
    background-color: white;
    color: black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
    height:26vh;
    width: 11vw;
    padding: 1rem;  
}


footer{
    border: 1px solid black;
    background: #F6C34A;
    color: black;
    margin: 0 auto;
}

.container-footer{ 
    display: flex;
    justify-content: space-evenly;   
}

.map{
    width: 25vw;
    height: 30vh;
    border: 2px solid #000000;
    border-radius: 4px;  
}

.bloco{
    margin-top: 5.5%;
}

.h3{
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;  
}

.endereco{
    width: 25vw;
    margin: 20px;
    gap: 20px;
}

.links li{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 15vw;
    height: 2vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px; 
}

.links a{
    color: black;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    align-items: center;
}

.restrito p{
    display: flex;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.restrito a{
    color: black;
}

.copyright{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row 
}
